@import "theme.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    font-weight: bold;

    color: @main-fg;

    margin: 0;
    padding: 0;
    border: none;
    min-height: 0;
}

window#waybar {
    background: @main-bg;
    border-radius: 8px;
    color: #cba6f7;
}

#clock, 
#mpris, 
#user, 
#memory, 
#network,
#cpu {
    padding: 0 6px;
}

#custom-distro {
    margin: 4px 5px;
    padding: 0 9px 0 8px;

    color: @distro;
    font-size: 20px;
    border-radius: 6px;

    transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

#custom-distro:hover {
    background-color: #313244;
    box-shadow: inset 0 -2px #1793d1;
}

/* Arrow styling */
#custom-left-media-arrow,
#custom-right-media-arrow,
#custom-right-workspace-arrow,
#custom-right-clock-arrow,
#custom-left-arrow,
#custom-left-user-arrow,
#custom-left-cpu-arrow,
#custom-left-memory-arrow,
#custom-right-arrow {
    font-size: 25px;
    color: lighter(@main-bg);
}

#custom-left-arrow,
#custom-left-media-arrow,
#custom-left-user-arrow,
#custom-left-cpu-arrow,
#custom-left-memory-arrow {
    padding-left: 3px;
    text-shadow: -3px 0 2.5px rgba(0,0,0,0.25);
}

#custom-right-arrow, 
#custom-right-media-arrow,
#custom-right-workspace-arrow,
#custom-right-clock-arrow {
    padding-right: 4px;
    text-shadow: 3px 0 2.5px rgba(0,0,0,0.25);
}

#window {
    margin-left: 8px;
}

/* Workspaces */
#workspaces {
    background: @workspace-bg; 
}

#workspaces button {
    margin: 5px;
    padding: 0 10px;
   
    background: transparent;
    transition: background 0.2s ease-in;
}

#workspaces button:hover {
    background: #6652A3;
}

#workspaces button.active {
    box-shadow: inset 0 -2px #7688BC;
    background: @workspace-button-active;
}

#custom-right-workspace-arrow {
    color: @workspace-bg;
    background: @clock-bg;
}

.modules-left #custom-left-arrow {
    color: @workspace-bg;
}

/* Clock */
#clock {
    background: @clock-bg;
    color: @clock-fg;
}

#custom-right-clock-arrow {
    color: @clock-bg;
    background: transparent;
}

/* Middle Configuration */
/* Media Display */
#mpris {
    background: @media-display-bg;
}

#mpris.spotify {
    color: #1ED760;
}

#mpris.firefox {
    color: #FF6611;
}

/* Media Controls */
#custom-previous-track, #custom-next-track {
    padding: 0 8px;
    font-size: 24px;
    background: @media-control-bg;
}

#custom-left-media-arrow, #custom-right-media-arrow {
    color: @media-display-bg;
    background: @media-control-bg;
}

.modules-center 
#custom-left-arrow,
#custom-right-arrow {
    color: @media-control-bg;
    background: transparent;
}

/* Right configuration */
/* User */
#user {
    background: @user-bg;
}

#custom-left-user-arrow {
    background: @user-bg;
    color: @cpu-bg;
}

.modules-right #custom-left-arrow {
    color: @user-bg;
}

/* CPU */
#cpu {
    background: @cpu-bg;
}

#custom-left-cpu-arrow {
    background: @cpu-bg;
    color: @mem-bg;
}

/* Memory */
#memory {
    background: @mem-bg
}

#custom-left-memory-arrow {
    background: @mem-bg;
    color: @net-bg;
}

/* Network */
#network {
    background: @net-bg;
}

.modules-right #custom-right-arrow {
    color: @net-bg;
}

/* Volume Slider */
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;

    background-image: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: green;
}

/* Power */
#custom-power {
    margin: 0 12px;
    font-size: 20px;

    transition: color 0.2s ease-in;
}

#custom-power:hover {
    color: #000000;
}
